{% extends 'base.html' %}
{% block content %}

 {% load static %}
<!-- All Products -->
<section class="section all-products" id="products">
  <div class="top container">
    <h1> <br> <br> <br> All Products <br><br> <br></h1> 
    
  </div>
  <div class="product-center container">
    <div class="product-item">
      <div class="overlay">
        <a href="{%url 'Product_Calacatta_Carrara' %}" class="product-thumb">
          <img src="{% static 'assets/img/MARBEL/01-Calacatta-Carrara.jpg' %}" alt="" />
        </a>
        <!-- <span class="discount"></span> -->
      </div>
      <div class="product-info"> 
        <span>Natural Stone</span>
        <a href="{% url 'Product_Calacatta_Carrara' %}">Calacatta-Carrara</a>
        <h4></h4>
      </div>
      <ul class="icons">
        <li><a href="{% url 'Product_Calacatta_Carrara' %}" class="bx bx-search"></a></li>
      </ul>
    </div>


    <div class="product-item">
      <div class="overlay">
        <a href="" class="product-thumb">
          <img src="{% static 'assets/img/MARBEL/02-Crema-penta-dark.jpg' %}" alt="" />
        </a>
        <!-- <span class="discount"></span> -->
      </div>
      <div class="product-info">
        <span>Natural Stone</span>
        <a href="{% url 'Product_Crema_penta-dark' %}">Crema_penta-dark</a>
        <h4></h4>
      </div>
      <ul class="icons">
        
        <li><a href="{% url 'Product_Crema_penta-dark' %}" class="bx bx-search"></a></li>
        
      </ul>
    </div>



    <div class="product-item">
      <div class="overlay">
        <a href="" class="product-thumb">
          <img src="{% static 'assets/img/MARBEL/03-Crema-penta-light.jpg' %}" alt="Product_Crema_penta-dark.html" />
        </a>
        <!-- <span class="discount">4%</span> -->
      </div>
      <div class="product-info">
        <span>Natural Stone</span>
        <a href="{% url 'Product_crema_penta_light' %}">Crema_penta_light</a>
        <h4></h4>
      </div>
      <ul class="icons">
        
        <li><a href="{% url 'Product_crema_penta_light' %}" class="bx bx-search"></a></li>
        
      </ul>
    </div>


    <div class="product-item">
      <div class="overlay">
        <a href="" class="product-thumb">
          <img src="{% static 'assets/img/MARBEL/04-emperador-dark.jpg' %}" alt="" />
        </a>
      </div>
      <div class="product-info">
        <span>Natural Stone</span>
        <a href="{% url 'Product_Emperador Dark' %}">Emperador Dark</a>
        <h4></h4>
      </div>
      <ul class="icons">
        
        <li><a href="{% url 'Product_Emperador Dark' %}" class="bx bx-search"></a></li>
      
      </ul>
    </div>
    <div class="product-item">
      <div class="overlay">
        <a href="" class="product-thumb">
          <img src="{% static 'assets/img/MARBEL/05-panda-book-match.jpg' %}" alt="" />
        </a>
        <!-- <span class="discount"></span> -->
      </div>
      <div class="product-info">
        <span>Natural Stone</span>
        <a href="{% url 'Product_Panda Book Match' %}">panda-book-match</a>
        <h4></h4>
      </div>
      <ul class="icons">
        
        <li><a href="{% url 'Product_Panda Book Match' %}" class="bx bx-search"></a></li>
        
      </ul>
    </div>
    <div class="product-item">
      <div class="overlay">
        <a href="" class="product-thumb">
          <img src="{% static 'assets/img/MARBEL/06-zebrino.jpg' %}" alt="" />
        </a>
      </div>
      <div class="product-info">
        <span>Natural Stone</span>
        <a href="{% url 'Product_Zebrino' %}">zebrino Marble</a>
        <h4></h4>
      </div>
      <ul class="icons">
        
        <li><a href="{% url 'Product_Zebrino' %}" class="bx bx-search"></a></li>
        
      </ul>
    </div>

    <div class="product-item">
      <div class="overlay">
        <a href="" class="product-thumb">
          <img src="{% static 'assets/img/MARBEL/07-mugla-white.jpg' %}" alt="" />
        </a>
        <!-- <span class="discount">4%</span> -->
      </div>
      <div class="product-info">
        <span>Natural Stone</span>
        <a href="{% url 'Product_mugla_white' %}">Mugla white Marble</a>
        <h4></h4>
      </div>
      <ul class="icons">
        
        <li><a href="{% url 'Product_mugla_white' %}" class="bx bx-search"></a></li>
        
      </ul>
    </div>


    <div class="product-item">
      <div class="overlay">
        <a href="" class="product-thumb">
          <img src="{% static 'assets/img/MARBEL/11-calacatta-oro.jpg' %}" alt="" />
        </a>
      </div>
      <div class="product-info">
        <span>Natural Stone</span>
        <a href="{% url 'Product_Calacatta-Oro' %}">Calacatta-Oro</a>
        <h4></h4>
      </div>
      <ul class="icons">
        
        <li><a href="{% url 'Product_Calacatta-Oro' %}" class="bx bx-search"></a></li>
        
      </ul>
    </div>
  </div>
</section>

{% endblock %}

  
    
    

    
   