{% extends 'base.html' %}

{% block content %}
{% load static %}

<!-- Product Details -->
<section class="section product-detail">
  <br><br> <div class="details container">
     <div class="left image-container">
     <br><br><br>  <div class="main">
         <img src="{% static 'assets/img/MARBEL/06-zebrino.jpg' %}" id="zoom" alt="" />
       </div>
     </div>
     <div class="right">
       <span></span>
       <br> <br><br><br>  <h1>Zebrino</h1>
     
       <h3>Product Detail</h3>
       <h4>
       <p>
         Zebrino marble is a beautiful natural stone that is characterized by its distinctive white and black stripes. 
         This marble is often referred to as "zebra" marble due to its resemblance to the stripes of a zebra. 
         The white and black stripes are typically irregular and can range in size and thickness, creating a unique and natural appearance.</p> 
         <p>
              Zebrino marble is a popular choice for a variety of interior design projects, including flooring, countertops, and backsplashes.
              Its striking and bold appearance can add a touch of drama and sophistication to any space.
              This marble is also highly durable and easy to maintain, making it a practical choice for high-traffic areas.. 
         </p>
         <p>
             Overall, Zebrino marble is a stunning and unique natural stone that can add character and charm to any design project. 
             Its bold stripes and natural appearance make it a popular choice among homeowners,
              architects, and designers alike who seek a distinctive and eye-catching look for their spaces.
       </p>
       
       <p>
         <b>Application:</b> Interior design projects, including flooring, countertops, and accent walls
       </p>
       
       <p>
        <b>Material:</b> Marble Slabs 
       </p>
       
       <p> <b>Size:</b> 3000x1950x20mm</p>

     </h4>
     </div>
   </div>
 </section>



<!-- Custom Script -->
<script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha384-JUMjoW8OzDJw4oFpWIB2Bu/c6768ObEthBMVSiIx4ruBIEdyNSUQAjJNFqT5pnJ6"
  crossorigin="anonymous"
></script>
<script src="{% static 'assets/js/zoomsl.min.js' %}"></script>
<script>
  $(function () {
    console.log("hello");
    $("#zoom").imagezoomsl({
      zoomrange: [4, 4],
    });
  });
</script>
{% endblock %}







    <!-- Related
    <section class="section featured">
      <div class="top container">
        <h1>Related Products <br> <br></h1>
        <a href="#" class="view-more">View more</a>
      </div>
      <div class="product-center container">
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="assets/img/new mb/5.jpeg" id="zoom" alt="" />
            </a>
          </div>
          <div class="product-info">
            <span>Natural Stone</span>
            <a href="">cloudy-white-marble</a>
            <h4></h4>
          </div>
          <ul class="icons">
            
            <li><i class="bx bx-search"></i></li>
            
          </ul>
        </div>
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="assets/img/new mb/3.jpeg" id="zoom" alt="" />
            </a>
            <span class="discount">4%</span>
          </div>
          <div class="product-info">
            <span>Natural Stone</span>
            <a href="">dark-green-marble</a>
            <h4></h4>
          </div>
          <ul class="icons">
            
            <li><i class="bx bx-search"></i></li>
            
          </ul>
        </div>
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="assets/img/new mb/7.jpeg" id="zoom"alt="" />
            </a>
          </div>
          <div class="product-info">
            <span>Natural Stone</span>
            <a href="">indian-pink-marble</a>
            <h4></h4>
          </div>
          <ul class="icons">
            
            <li><i class="bx bx-search"></i></li>
            
          </ul>
        </div>
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="assets/img/new mb/4.jpeg"id="zoom" alt="" />
            </a>
            <span class="discount">4%</span>
          </div>
          <div class="product-info">
            <span>Natural Stone</span>
            <a href="">ita-gold-marble</a>
            <h4></h4>
          </div>
          <ul class="icons">
            
            <li><i class="bx bx-search"></i></li>
            
          </ul>
        </div>
      </div>
    </section> -->

    