{% extends 'base.html' %}

{% block content %}
{% load static %}

 <!-- Product Details -->
 <section class="section product-detail">
  <br><br> <div class="details container">
     <div class="left image-container">
     <br><br><br>  <div class="main">
         <img src="{% static 'assets/img/MARBEL/05-panda-book-match.jpg' %}" id="zoom" alt="" />
       </div>
     </div>
     <div class="right">
       <span></span>
       <br> <br><br><br>  <h1>Panda Book Match</h1>
     
       <h3>Product Detail</h3>
     <h4>
       <p>
         Panda Book Match Marble is a unique and stunning natural stone that features a distinctive black and white pattern. 
         This marble is characterized by its bold, contrasting veining that creates a striking and dramatic appearance. 
         The black and white veins are typically arranged in a book-match pattern, 
         which creates a mirrored effect that adds a sense of balance and harmony to any space.</p> 
         <p>
             Panda Book Match Marble is a popular choice for interior design projects, including feature walls, countertops, and flooring.
              Its bold and dramatic appearance can add a touch of sophistication and elegance to any room.
              This marble is also highly durable and easy to maintain, making it a practical choice for high-traffic areas.
         </p>
         <p>
             Overall, Panda Book Match Marble is a unique and luxurious natural stone that can add a touch of drama and elegance to any design project. 
             Its bold pattern and striking appearance make it a popular choice among homeowners, 
             architects, and designers alike who seek a one-of-a-kind look for their spaces.
       </p>
       
       <p>
         <b>Application:</b> Interior design projects, including flooring, countertops, and accent walls
       </p>
       
       <p>
        <b>Material:</b> Marble Slabs 
       </p>
       
       <p> <b>Size:</b>   2000x1350x20mm</p>
     </h4>

     </div>
   </div>
 </section>


<!-- Custom Script -->
<script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha384-JUMjoW8OzDJw4oFpWIB2Bu/c6768ObEthBMVSiIx4ruBIEdyNSUQAjJNFqT5pnJ6"
  crossorigin="anonymous"
></script>
<script src="{% static 'assets/js/zoomsl.min.js' %}"></script>
<script>
  $(function () {
    console.log("hello");
    $("#zoom").imagezoomsl({
      zoomrange: [4, 4],
    });
  });
</script>
{% endblock %}



