{% extends 'base.html' %}

{% block content %}
{% load static %}

<!-- Product Details -->
<section class="section product-detail">
  <br><br> <div class="details container">
     <div class="left image-container">
     <br><br><br>  <div class="main">
         <img src="{% static 'assets/img/MARBEL/01-Calacatta-Carrara.jpg' %}" id="zoom" alt="" />
       </div>
     </div>
     <div class="right">
       <span></span>
       <br> <br><br><br>  <h1>Calacatta-Carrara</h1>
     
       <h3>Product Detail</h3>
       <h4>
       <p>
         Calacatta Carrara marble is a stunning natural stone that has been used in architecture
          and design for centuries. It is characterized by its white background and bold grey 
          veining that creates a dramatic and elegant appearance. The white background has a 
          slightly warm tone that provides a subtle contrast to the cool grey veins, creating a sense of depth and texture.
       
       </p>
       <p>This marble is a popular choice for a wide range of applications, including flooring, countertops, backsplashes, and accent walls. 
         It is highly versatile and can be used to create a variety of design styles,
          from classic and traditional to modern and contemporary.
       </p>
       <p>Calacatta Carrara marble is prized for its natural beauty and durability. It is a dense and hard stone that can 
         withstand heavy traffic and daily use, making it an ideal choice for
          high-traffic areas. Additionally, it is relatively easy to maintain and can be kept looking beautiful for
           years to come with proper care and maintenance.
       </p>
       <p>
         Overall, Calacatta Carrara marble is a timeless and elegant choice for any design project. 
         Its classic beauty and durability make it a popular choice among architects, designers, and homeowners alike.
       </p>
       
       <p>
         <b>Application:</b> Kitchen, Bathroom, Internal Wall, External Wall, Internal Flooring, External Flooring
       </p>
       
       <p>
        <b>Material:</b> Marble Slabs 
       </p>
       
       <p> <b>Size:</b>  3150×1980×20mm</p>
     </h4>

     </div>
   </div>
 </section>

<!-- Custom Script -->
<script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha384-JUMjoW8OzDJw4oFpWIB2Bu/c6768ObEthBMVSiIx4ruBIEdyNSUQAjJNFqT5pnJ6"
  crossorigin="anonymous"
></script>
<script src="{% static 'assets/js/zoomsl.min.js' %}"></script>
<script>
  $(function () {
    console.log("hello");
    $("#zoom").imagezoomsl({
      zoomrange: [4, 4],
    });
  });
</script>


{% endblock %}

 

