{% extends 'base.html' %}


{% block content %}

{% load static %}

<section id="hero" class="d-flex align-items-center">
  <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
    <div class="row">
      <div class="col-lg-8">
        <h1>Welcome to <span>KBG stone</span></h1>
        <h2>"We are a 23-year-old, certified KBG marble  exporters Wholesale &  manufacturers in Australia, offering a wide range of marble granite slabs at Wholesale Price</h2>
        <div class="btns">
            <a href="{% url 'allproduct' %}" class="btn-menu animated fadeInUp scrollto">Our Stones</a> 
            <a href="{% url 'appointment' %}" class="btn-book animated fadeInUp scrollto">Book an appointment</a>
          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
          <a href="https://youtu.be/C1Ua8gM0bTc" class="glightbox play-btn"></a> 
        </div>
      </div>
    </div>
</section>


<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
              <div class="about-img">
                <img src="{% static 'assets/img/Stone/marble/circle/bg3.jpg' %}" alt="">
              </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3>Australia's Top Marble Company Which Provides A Grade Quality. Retailer Manufacturer & Wholesaler.</h3>
              <p class="fst-italic">
                Our customers LOVE our Marbles! Are you searching for the most exquisite, modern, and premium Marbles and Tiles for your home or office? 
              </p>
              <ul>
                <li><i class="bi bi-check-circle"></i> from all over Australia, you can choose from more blends, colors, & styles below.</li>
                <li><i class="bi bi-check-circle"></i> today we are counted amongst the Best Marble Slabs Manufacturer in Austrlia. KBG Stone.</li>
                <li><i class="bi bi-check-circle"></i> one of the top Marble Companies in Austrlia offers high quality marble slabs for your bathroom vanities, walls, showers and more. If you are looking for more colors you can find them in our inventory below</li>
              </ul>
              <p>
                Our company is a premier Manufacturer, Retailer and Wholesaler of Marble Slabs,
                 Marble Tiles and Marble Blocks of various colors like the fastest moving. 
                 KBG Stone offer various Marbles in various sizes and finishes in the form of slabs & steps risers etc.
              </p>
            </div>
          </div>
      
        </div>
      </section>
      <!-- End About Section -->
      
      <!-- ======= Why Us Section ======= -->
      <section id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">
      
          <div class="section-title">
            <h2>Why Us</h2>
            <p>Why Choose Our Stone</p>
          </div>
      
          <div class="row">
      
            <div class="col-lg-4">
              <div class="box" data-aos="zoom-in" data-aos-delay="100">
                <span>01</span>
                <h4>Quality</h4>
                <p>Be 100% Assured for Best Quality</p>
              </div>
            </div>
      
            <div class="col-lg-4 mt-4 mt-lg-0">
              <div class="box" data-aos="zoom-in" data-aos-delay="200">
                <span>02</span>
                <h4>Fair pricing</h4>
                <p>Be 100% assured about our Pricing</p>
              </div>
            </div>
      
            <div class="col-lg-4 mt-4 mt-lg-0">
              <div class="box" data-aos="zoom-in" data-aos-delay="300">
                <span>03</span>
                <h4> Services</h4>
                <p>we are always ready to serve you</p>
              </div>
            </div>
      
          </div>
      
        </div>
      </section><!-- End Why Us Section -->
      
      

      <!-- ======= Menu Section ======= -->
      <section id="menu" class="menu section-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Stones</h2>
                <p>Check Our Mesmerizing Marbles</p>
              </div>
              
              <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12 d-flex justify-content-center">
                  <ul id="menu-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-starters">Rare</li>
                    <li data-filter=".filter-salads">Unique</li>
                    <li data-filter=".filter-specialty">Special</li>
                  </ul>
                </div>
              </div>
              
              <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
              
                <div class="col-lg-6 menu-item filter-starters">
                  <img src="{% static 'assets/img/Stone/marble/circle/Frame 8.png' %}" class="menu-img" alt="">
                  <div class="menu-content">
                    <a href="">White Marble</a>
                  </div>
                  <div class="menu-ingredients">
                    Texture: Granoblastic, granular
                  </div>
                </div>
              
                <div class="col-lg-6 menu-item filter-specialty">
                  <img src="{% static 'assets/img/Stone/marble/circle/Frame 7.png' %}" class="menu-img" alt="">
                  <div class="menu-content">
                    <a href="">Black Marble</a>
                  </div>
                  <div class="menu-ingredients">
                    Texture - granular,rich in bitumen
                  </div>
                </div>
              
                <div class="col-lg-6 menu-item filter-starters">
                  <img src="{% static 'assets/img/Stone/marble/circle/Frame 2.png' %}" class="menu-img" alt="">
                  <div class="menu-content">
                    <a href="">Beige Marble</a>
                  </div>
                  <div class="menu-ingredients">
                    displays colors ranging from light beige to dark brown 
                  </div>
                </div>
              
                <div class="col-lg-6 menu-item filter-salads">
                  <img src="{% static 'assets/img/Stone/marble/circle/Frame 9.png' %}" class="menu-img" alt="">
                  <div class="menu-content">
                    <a href="">Brown Marble</a>
                  </div>
                  <div class="menu-ingredients">
                    Onyx brown marble, Armani brown marble, Emperador
                  </div>
                </div>
              
                <div class="col-lg-6 menu-item filter-specialty">
                  <img src="{% static 'assets/img/Stone/marble/circle/Frame 5.png' %}" class="menu-img" alt="">
                  <div class="menu-content">
                    <a href="">Grey Marble</a>
                  </div>
                  <div class="menu-ingredients">
                    A form of limestone
                  </div>
                </div>
              
                <div class="col-lg-6 menu-item filter-starters">
                  <img src="{% static 'assets/img/Stone/marble/circle/Frame 4.png' %}" class="menu-img" alt="">
                  <div class="menu-content">
                    <a href="">Yellow Marble</a>
                </div>
                <div class="menu-ingredients">
                  Yellow Lamartine marble is a marble stone also called "Flowery Yellow"
                </div>
              </div>
        
              <div class="col-lg-6 menu-item filter-salads">
                <img src="{% static 'assets/img/Stone/marble/circle/Frame 6.png' %}" class="menu-img" alt="">
                <div class="menu-content">
                  <a href="">Cream Marble</a>
                </div>
                <div class="menu-ingredients">
                  A type of marble that has a light cream color with swirls of darker colors running through it 
                </div>
              </div>
        
              <div class="col-lg-6 menu-item filter-salads">
                <img src="{% static 'assets/img/Stone/marble/circle/Frame 3.png' %}" class="menu-img" alt="">
                <div class="menu-content">
                  <a href="">Red Marble</a>
                </div>
                <div class="menu-ingredients">
                  Rojo Levante Marble 
                </div>
              </div>
        
              <div class="col-lg-6 menu-item filter-specialty">
                <img src="{% static 'assets/img/Stone/marble/circle/Frame 1.png' %}" class="menu-img" alt="">
                <div class="menu-content">
                  <a href="">Green Marble</a>
                </div>
                <div class="menu-ingredients">
                  Verde Indio Marble :
                </div>
              </div>
        
            </div>
        
          </div>
        </section><!-- End Menu Section -->


        <!-- ======= Specials Section ======= -->
<section id="specials" class="specials">
    <div class="container" data-aos="fade-up">
  
      <div class="section-title">
        <h2>Specials</h2>
        <p>Check Our Specials</p>
      </div>
  
      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Arabescato Vagli</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Cello</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Monreale</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Calacatta</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Black &amp; Gold</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <B><h3>ADDITIONAL INFORMATION</h3></B>
                  <p class="fst-italic">Since ancient times, marble has been used to create sculptures and construct buildings.</p>
                  <p> The characteristics that make marble such a sought-after product in today's designer market include its beauty, originality, luxury, and flaws. Moreover, Italian marble has long been utilized for kitchen countertops and vanities. Marble benchtops are used and appreciated for their inherent beauty and qualities.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="{% static 'assets/img/Stone/marble/circle/7.png' %}" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>ADDITIONAL INFORMATION</h3>
                  <p class="fst-italic">Since ancient times, marble has been used to create sculptures and construct buildings.</p>
                  <p>The characteristics that make marble such a sought-after product in today's designer market include its beauty, originality, luxury, and flaws. Moreover, Italian marble has long been utilized for kitchen countertops and vanities. Marble benchtops are used and appreciated for their inherent beauty and qualities.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="{% static 'assets/img/Stone/marble/circle/5.png' %}" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>ADDITIONAL INFORMATION</h3>
                    <p class="fst-italic">Since ancient times, marble has been used to create sculptures and construct buildings</p>
                    <p>The characteristics that make marble such a sought-after product in today's designer market include its beauty, originality, luxury, and flaws. Moreover, Italian marble has long been utilized for kitchen countertops and vanities. Marble benchtops are used and appreciated for their inherent beauty and qualities.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/Stone/marble/circle/55.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>ADDITIONAL INFORMATION</h3>
                    <p class="fst-italic">Since ancient times, marble has been used to create sculptures and construct buildings</p>
                    <p>The characteristics that make marble such a sought-after product in today's designer market include its beauty, originality, luxury, and flaws. Moreover, Italian marble has long been utilized for kitchen countertops and vanities. Marble benchtops are used and appreciated for their inherent beauty and qualities.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/Stone/marble/circle/3 (2).png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>ADDITIONAL INFORMATION</h3>
                    <p class="fst-italic">Since ancient times, marble has been used to create sculptures and construct buildings</p>
                    <p>The characteristics that make marble such a sought-after product in today's designer market include its beauty, originality, luxury, and flaws. Moreover, Italian marble has long been utilized for kitchen countertops and vanities. Marble benchtops are used and appreciated for their inherent beauty and qualities.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/Stone/marble/circle/4 (2).png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Specials Section -->
  
 <!-- ======= Events Section ======= -->
    <section id="events" class="events">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Our stones</h2>
            <p> We Organize Your House with great care</p>
          </div>
          <div class="events-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="row event-item">
                  <div class="col-lg-6">
                    <img src="{% static 'assets/img/new mb/16.jpeg' %}" class="img-fluid" alt="">
                  </div>
                  <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3>Some stones</h3>
                    <div class="Example">
                      <p><span>Black marble stone</span></p>
                    </div> 
                    <p class="fst-italic">
                      KBG stone is a company that specializes in the sale of natural marble slabs and tiles. Marble is a type of metamorphic rock that is composed of recrystallized carbonate minerals,
                       typically calcite or dolomite. It is highly valued for its unique beauty and durability,
                       making it a popular choice for a wide range of applications, including flooring, countertops, wall cladding, and decorative sculptures
                    </p>
                    <ul>
                      <li><i class="bi bi-check-circled"></i> we take pride in offering a wide selection of high-quality natural marble slabs in a variety of colors</li>
                      <li><i class="bi bi-check-circled"></i>We source our marble from quarries all over the world</li>
                      <li><i class="bi bi-check-circled"></i> Our experienced team of stone experts works closely with each client to help them choose the perfect marble slab for their project</li>
                    </ul>
                    <p>
                      Our experienced team of stone experts works closely with each client to help them choose the perfect marble slab for their project.
                       We offer personalized consultations to help our customers select the right color and finish to complement their design vision and budget.
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="row event-item">
                  <div class="col-lg-6">
                    <img src="{% static 'assets/img/new mb/18.jpeg' %}" class="img-fluid" alt="">
                  </div>
                  <div class="col-lg-6 pt-4 pt-lg-0 content">
                   <h3>some stone</h3>
                    <div class="our stone">
                      <p><span>chocolate marble stone</span></p>
                    </div> 
                    <p class="fst-italic">
                      KBG stone is a company that specializes in the sale of natural marble slabs and tiles. Marble is a type of metamorphic rock that is composed of recrystallized carbonate minerals,
                       typically calcite or dolomite. It is highly valued for its unique beauty and durability,
                       making it a popular choice for a wide range of applications, including flooring, countertops, wall cladding, and decorative sculptures
                    </p>
                    <ul>
                      <li><i class="bi bi-check-circled"></i> we take pride in offering a wide selection of high-quality natural marble slabs in a variety of colors</li>
                      <li><i class="bi bi-check-circled"></i>We source our marble from quarries all over the world</li>
                      <li><i class="bi bi-check-circled"></i> Our experienced team of stone experts works closely with each client to help them choose the perfect marble slab for their project</li>
                    </ul>
                    <p>
                      Our experienced team of stone experts works closely with each client to help them choose the perfect marble slab for their project.
                       We offer personalized consultations to help our customers select the right color and finish to complement their design vision and budget.
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->

              
            <div class="swiper-slide">
                <div class="row event-item">
                  <div class="col-lg-6">
                    <img src="{% static 'assets/img/new mb/20.jpeg' %}" class="img-fluid" alt="">
                  </div>
                  <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3>Some stone</h3>
                    <div class="Our stone">
                      <p><span>Rain forest gold marble</span></p>
                    </div>
                    <p class="fst-italic">
                      KBG stone is a company that specializes in the sale of natural marble slabs and tiles. Marble is a type of metamorphic rock that is composed of recrystallized carbonate minerals,
                       typically calcite or dolomite. It is highly valued for its unique beauty and durability,
                       making it a popular choice for a wide range of applications, including flooring, countertops, wall cladding, and decorative sculptures
                    </p>
                    <ul>
                      <li><i class="bi bi-check-circled"></i> we take pride in offering a wide selection of high-quality natural marble slabs in a variety of colors</li>
                      <li><i class="bi bi-check-circled"></i>We source our marble from quarries all over the world</li>
                      <li><i class="bi bi-check-circled"></i> Our experienced team of stone experts works closely with each client to help them choose the perfect marble slab for their project</li>
                    </ul>
                    <p>
                      Our experienced team of stone experts works closely with each client to help them choose the perfect marble slab for their project.
                       We offer personalized consultations to help our customers select the right color and finish to complement their design vision and budget.
                    </p>
                      Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                      velit esse cillum dolore eu fugiat nulla pariatur
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
      </section><!-- End Events Section -->




            <!-- PopUp -->
            <div class="popup hide-popup">
            <div class="popup-content">
                <div class="popup-close">
                <i class='bx bx-x'></i>
                </div>
                <div class="popup-left">
                <div class="popup-img-container">
                    <img class="popup-img" src="{% static 'assets/img/Stone/marble/circle/marble pop.jpg' %}" alt="popup">
                </div>
              </div>
              <div class="popup-right">
                <div class="right-content">
                  <h1>Welcome to <span>KBG STONE</span> </h1>
                  <p>Australia's Top Marble Company Which Provides A Grade Quality. Retailer Manufacturer & Wholesaler.
                  </p>
                  <form method="post" action="{%url 'popup'%}" >
                    {% csrf_token %}
                      <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>

                     <br>
                      <input type="text" class="form-control" name="number" id="number" placeholder="Your Number" required> 
                      <br>
                      <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" >
                      <br> <input type="text" class="form-control" name="postcode" id="postcode" placeholder="Your Postcode" >
                      <br>
                        <!-- <div class="btns"><a  href="" class="btn-menu animated fadeInUp scrollto">Submit</a></div>  -->
                        <div class="btn-menu animated fadeInUp scrollto" >
                          <button type="submit" value="submit" name="save">Submit</button>
                        </div> 
                    </form>
                    
                  </div>
                </div>
            </div>
        </div> 
    
{% endblock %}
