{% extends 'base.html' %}

{% block content %}
{% load static %}


<!-- Product Details -->
<section class="section product-detail">
  <br><br> <div class="details container">
     <div class="left image-container">
      <br><br><br><div class="main">
         <img src="{% static 'assets/img/MARBEL/02-Crema-penta-dark.jpg' %}" id="zoom" alt="" />
       </div>
     </div>
     <div class="right">
       <span></span>
       <br>   <h1>Crema Penta Dark</h1>
     
       <h3>Product Detail</h3>
       <h4>
       <p>
         Crema Penta Dark is a beautiful natural stone that is known for its rich, warm tones and intricate veining.
          This marble is characterized by its cream-colored background and delicate brown veins that
          create a stunning contrast and depth. The veins are typically thin and wispy, giving the stone a sense of movement and fluidity.</p> 
         <p>
          Crema Penta Dark marble is a popular choice for a wide range of interior design projects, including flooring, countertops, and accent walls.
           Its warm and inviting color palette can add a touch of elegance and 
          sophistication to any space. This marble is also highly durable and easy to maintain, making it a practical choice for high-traffic areas. 
         </p>
         <p>
          Overall, Crema Penta Dark marble is a versatile and timeless natural stone that can add beauty and character to any design project.
           Its unique veining and warm tones make it a popular choice among homeowners, architects, and designers alike.
       
       </p>
       
       <p>
         <b>Application:</b> Interior design projects, including flooring, countertops, and accent walls
       </p>
       
       <p>
        <b>Material:</b> Marble Slabs 
       </p>
       
       <p> <b>Size:</b>  1850x1750x20mm</p>
     
 </h4>
     </div>
   </div>
 </section>


<!-- Custom Script -->
<script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha384-JUMjoW8OzDJw4oFpWIB2Bu/c6768ObEthBMVSiIx4ruBIEdyNSUQAjJNFqT5pnJ6"
  crossorigin="anonymous"
></script>
<script src="{% static 'assets/js/zoomsl.min.js' %}"></script>
<script>
  $(function () {
    console.log("hello");
    $("#zoom").imagezoomsl({
      zoomrange: [4, 4],
    });
  });
</script>

{% endblock %}



