{% extends 'base.html' %}

{% block content %}
{% load static %}

<!-- Product Details -->
<section class="section product-detail">
  <br><br> <div class="details container">
     <div class="left image-container">
     <br><br><br>  <div class="main">
         <img src="{% static 'assets/img/MARBEL/07-mugla-white.jpg' %}" id="zoom" alt="" />
       </div>
     </div>
     <div class="right">
       <span></span>
       <br>   <h1>Mugla White</h1>
     
       <h3>Product Detail</h3>
       <h4>
       <p>
         
         Mugla White is a beautiful natural stone that is known for its crisp white background and subtle grey veining. This marble is characterized by its bright and luminous appearance, which can help to create an airy and spacious feel in any space. The grey veining is typically thin and delicate, creating a sense of movement and depth without overwhelming the overall aesthetic..</p> 
         <p>
             Mugla White marble is a popular choice for a wide range of interior design projects, including flooring, countertops, and wall cladding. Its bright and clean color palette can add a sense of freshness and purity to any room. This marble is also highly durable and easy to maintain, making it a practical choice for both residential and commercial applications. 
         </p>
         <p>
             Overall, Mugla White marble is a versatile and elegant natural stone that can add a touch of sophistication and refinement to any design project. Its soft veining and bright appearance make it a popular choice among homeowners, architects, and designers alike who seek a clean and timeless look for their spaces.
       </p>
       
       <p>
         <b>Application:</b>  interior design projects, including flooring, countertops, and wall cladding.
       </p>
       
       <p>
        <b>Material:</b> Marble Slabs 
       </p>
       
       <p> <b>Size:</b> 3000x1950x20mm</p>

       </h4>
     </div>
   </div>
 </section>

<!-- Custom Script -->
<script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha384-JUMjoW8OzDJw4oFpWIB2Bu/c6768ObEthBMVSiIx4ruBIEdyNSUQAjJNFqT5pnJ6"
  crossorigin="anonymous"
></script>
<script src="{% static 'assets/js/zoomsl.min.js' %}"></script>
<script>
  $(function () {
    console.log("hello");
    $("#zoom").imagezoomsl({
      zoomrange: [4, 4],
    });
  });
</script>
{% endblock %}



