{% extends 'base.html' %}

{% block content %}
{% load static %}

<!-- Product Details -->
<section class="section product-detail">
  <br><br> <div class="details container">
     <div class="left image-container">
     <br><br><br>  <div class="main">
         <img src="{% static 'assets/img/MARBEL/11-calacatta-oro.jpg' %}" id="zoom" alt="" />
       </div>
     </div>
     <div class="right">
       <span></span>
       <br>  <h1>Calacatta Oro</h1>
     
       <h3>Product Detail</h3>
       <h4>
       <p>
         Calacatta Oro is a luxurious and elegant natural stone that is known for its stunning white background and bold,
          golden veining. This marble is characterized by its striking and dramatic appearance, which can add a touch of 
          glamour and sophistication to any space. The golden veining is typically thick and irregular, creating a sense 
          of movement and depth that draws the eye.</p> 
         <p>
             Calacatta Oro marble is a popular choice for high-end interior design projects, including flooring, countertops,
              and wall cladding. Its opulent and rich color palette can add a sense of grandeur and luxury to any room. This 
              marble is also highly durable and easy to maintain, making it a practical choice for high-traffic areas. </p>
         <p>
             Overall, Calacatta Oro marble is a timeless and breathtaking natural stone that can add a touch of luxury and 
             refinement to any design project. Its bold veining and white background make it a popular choice among homeowners,
              architects, and designers alike who seek a sophisticated and lavish look for their spaces.          </p>
       
       <p>
         <b>Application:</b>  High-end interior design projects, including flooring, countertops, and wall cladding.
       </p>
       
       <p>
        <b>Material:</b> Marble Slabs 
       </p>
       
       <p> <b>Size:</b> 3000x1950x20mm</p>

     </h4>
     
     </div>
   </div>
 </section>




<!-- Custom Script -->
<script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha384-JUMjoW8OzDJw4oFpWIB2Bu/c6768ObEthBMVSiIx4ruBIEdyNSUQAjJNFqT5pnJ6"
  crossorigin="anonymous"
></script>
<script src="{% static 'assets/js/zoomsl.min.js' %}"></script>
<script>
  $(function () {
    console.log("hello");
    $("#zoom").imagezoomsl({
      zoomrange: [4, 4],
    });
  });
</script>
{% endblock %}


